@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: rgb(0, 0, 0);
    color:aliceblue;
    
}
/* hide style */
.hide{
    display:none;
}
/* some style */
a{
    color:aliceblue;
    text-decoration: none;
    font-size: 0.9rem;
}
.btn-primary{
    background-color: rgb(230, 83, 60);
    padding:10px 15px;
    border: none;
    border-radius: 25px;
}
.btn-secondary{
    background-color:rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255); 
    padding:10px 15px;
    border-radius: 25px;
    margin-left: 5px;
     
}
/* nav style */
.nav-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:0 5rem;
    padding:0 auto;
}
.nav-links{
    display:flex;
    justify-content: space-evenly;
    gap:40px;

}

.home{
    background-color:rgb(230, 83, 60);
    border-radius: 20px;
    padding:3px 10px;
}
.nav-title{
    color:rgb(230, 83, 60);
    font-size: 2rem;

}

    


/* banner section tyle */

.section-banner{
    display:flex;
    margin:0 5rem;
    padding:0 auto;
    justify-content: space-evenly;
    gap:200px;
}

.section-banner-heading{
    font-size: 3rem;
    color:rgb(255, 255, 255);
    font-weight: 900;
}
.section-banner-description{
    font-size:1rem;
    color:rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-bottom: 30px;
}
.section-banner-image img {
    width: 100%;
    
    
}
.section-banner-image{
    position: relative;

}
.video-tutorial{
    position: absolute;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:0px 30px;
    margin:0;
    background-color:rgba(255, 255, 255, 0.203);
    filter: blur(100%);
    top: 15%;
    left: 55%;
    
    
    
}
.video-tutorial-1{
    position: absolute;
    display: flex;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.205);
    filter: blur(100%);
    padding: 0px 30px;
    text-align: center;
    right: 80%;
    bottom: 15%;

    
}
.video-tutorial-1 h3{
    height: 0;
    
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 700;
}
.video-tutorial h3{
    height: 0;
    
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}
.video-tutorial-1 p{
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
    padding:10px;
}
.video-tutorial p{
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
}
.video-tutorial-1 i{
    height: none;
    background-color: rgb(230, 83, 60);
    font-size: 2rem;
    border-radius: 50%;
    margin-top:10px;
}

/* section 1 change your habit style */

.section-1-change-habit{
    margin: 0 5rem;
    padding: 0 auto;
}
.section-1-heading{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.section-1-heading h2{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 5px;
}
.section-1-heading p{
    font-size: 0.7rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5);
    
}
.section-1-items{
    display:flex;
    margin-top: 20px;
    justify-content: space-evenly;
    gap:4rem;
}
.section-1-item{
    text-align: center;
}
.section-1-item p{
    font-size: 0.7rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5);
    
}
.section-1-item img{
    width:100%;
    border-radius: 50%;
}
.section-1-item h3{
    color:#ffffff;
}

/* section 2 run style */

.section-2-run{
    display:flex;
    margin:0 5rem;
    background-color: rgb(32, 31, 31);
    justify-content: space-between;
    gap:200px;
    padding:30px 30px;
    margin-top: 100px;
    border-radius: 15px;

}
.section-2-heading h1{
    font-size: 2.5rem;
    font-weight: 900;
    color: #ffffff;
    margin:0;
}
.section-2-heading p{
    font-size: 0.7rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
}

.section-2-image img{
    width:300px;
    height: 250px;
    
    border-radius: 15px;
}
.btn{
    padding:10px 40px;
}

/* section 3 style */
.section-3-heading{
    margin-top: 50px;
    margin-left: 400px;
}
.section-3-heading h1{
    
    font-size: 2rem;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 10px;
}
.section-3-heading p{
    font-size: 0.8rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
}

.section-3-container{
    display:flex;
    justify-content: space-evenly;
    gap:200px;
    background-color: rgb(33, 33, 33);
    padding:50px 0;
    margin-top: 50px;
    
}
.section-3-table h2{
    margin-left: 5rem;
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.section-3-table table{
    border:1px solid rgb(155, 76, 76);
    border-collapse:collapse ;
    font-size: 0.7rem;
    padding: 10px 50px;
    margin-left: 5rem;
    align-items: baseline;
    

}
.section-3-table td{
    border:1px solid rgb(81, 80, 80);
    margin:2px 2px;
    padding:10px 40px;
    color:rgba(255, 255, 255, 0.5);
    text-align: left;

}
.section-3-table th{
    border:1px solid rgb(83, 83, 83);
    margin:2px 2px;
    padding:10px 40px;
    text-align: left;

} 

.section-3-form{
    margin-right: 5rem;
}
.section-3-form h2{
    color: #ffffff;
    font-size: 1.5rem;
}
.section-3-form p{
    font-size: 0.8rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}
#height,#weight,#age{
    font-size: 0.8rem;
    background-color: rgb(56, 55, 55);
    padding:12px 40px;
    margin:5px;
    border: none;
    border-radius: 5px;
    color:rgba(255, 255, 255, 0.5);
}
#sex{
    font-size: 0.8rem;
    background-color: rgb(56, 55, 55);
    padding:12px 88px;
    margin:5px;
    border: none;
    border-radius: 5px;
    color:rgba(255, 255, 255, 0.5);

}
#select{
    font-size: 0.8rem;
    background-color: rgb(56, 55, 55);
    padding:12px 170px;
    margin:5px;
    border: none;
    border-radius: 5px;
    color:rgba(255, 255, 255, 0.5)
}
.calculate{
    background-color: rgb(230, 83, 60);
    padding:10px 30px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
}

/* section 4 style */
.section-4-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding:30px;
    margin:30px;
    background-color: rgb(34, 34, 34);
 }
 .section-4-image-1,.section-4-image-2,.section-4-image-3,.section-4-image-4,.section-4-image-5,.section-4-image-6 img{

    width:300px;
    height: 250px;
 }