@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: rgb(0, 0, 0);
    color:aliceblue;
    
}
/* hide style */
.hide{
    display:none;
}
/* some style */
a{
    color:aliceblue;
    text-decoration: none;
    font-size: 0.9rem;
}
.btn-primary{
    background-color: rgb(230, 83, 60);
    padding:10px 15px;
    border: none;
    border-radius: 25px;
}
.btn-secondary{
    background-color:rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255); 
    padding:10px 15px;
    border-radius: 25px;
    margin-left: 5px;
     
}
/* nav style */
.nav-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:0 3rem;
    padding:0 auto;
}
.nav-links{
    display:flex;
    justify-content: space-evenly;
    gap:40px;

}

.home{
    background-color:rgb(230, 83, 60);
    border-radius: 20px;
    padding:3px 10px;
}
.nav-title{
    color:rgb(230, 83, 60);
    font-size: 2rem;

}

    


/* banner section tyle */

.section-banner{
    display:flex;
    margin:0 3rem;
    padding:0 auto;
    justify-content: space-evenly;
    gap:200px;
}

.section-banner-heading{
    font-size: 3rem;
    color:rgb(255, 255, 255);
    font-weight: 900;
}
.section-banner-description{
    font-size:1rem;
    color:rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-bottom: 30px;
}
.section-banner-image img {
    width: 100%;
    
    
}
.section-banner-image{
    position: relative;

}
.video-tutorial{
    position: absolute;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:0px 30px;
    margin:0;
    background-color:rgba(255, 255, 255, 0.203);
    filter: blur(100%);
    top: 15%;
    left: 55%;
    
    
    
}
.video-tutorial-1{
    position: absolute;
    display: flex;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.205);
    filter: blur(100%);
    padding: 0px 30px;
    text-align: center;
    right: 80%;
    bottom: 15%;

    
}
.video-tutorial-1 h3{
    height: 0;
    
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 700;
}
.video-tutorial h3{
    height: 0;
    
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 700;
}
.video-tutorial-1 p{
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
    padding:10px;
}
.video-tutorial p{
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
}
.video-tutorial-1 i{
    height: none;
    background-color: rgb(230, 83, 60);
    font-size: 2rem;
    border-radius: 50%;
    margin-top:10px;
}

/* section 1 change your habit style */

.section-1-change-habit{
    margin: 0 3rem;
    padding: 0 auto;
}
.section-1-heading{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.section-1-heading h2{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 5px;
}
.section-1-heading p{
    font-size: 0.7rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5);
    
}
.section-1-items{
    display:flex;
}